@charset "UTF-8";
@use "variables" as *;

// ---------------------------------------------
//  base
// ---------------------------------------------

html {
  font-size: 62.5%;
}

body {
  position: relative;
  font-family: $font-sans;
  font-size: var(--fz16);
  font-weight: 400; // ※游ゴシックのときは500
  line-height: 1.6;
  color: $color-black;
  letter-spacing: 0.05em;
}

// font-sizeは下記の用に指定
// font-size: var(--fz14);

.wrap {
  // min-width: 1200px;
  margin: auto;

  @include max-mq {
    width: 100%;
    min-width: auto;
  }
}

.container {
  box-sizing: border-box;
  width: min(1050px, 100%); // デザインの幅 + padding
  padding: 0 min(4vw, 25px);
  margin: auto;
}

main {
  display: block;

  // for ipad portrait mode

  @media (min-width: 768px) and (max-width: 769px) and (orientation: portrait) {
    min-height: 95vh;
  }
}


// グーグルマップ
.googlemap {
  position: relative;

  &::before {
    display: block;
    padding-top: 20.7%;
    content: "";
  }

  iframe {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
  }

  // .googlemap--address
  &--address {
    padding-left: 25px;
    margin: 15px 0 0 30px;
    font-size: var(--fz15);
    color: #b7b7b7;
    border-left: 3px solid #b7b7b7;

    @include max-mq {
      padding-left: 15px;
      margin: 15px 0 0 15px;
    }
  }

  @include max-mq {
    &::before {
      padding-top: 450px;
    }
  }
}

// ---------------------------------------------
//  ヘッダー関連 header
// ---------------------------------------------

.header {
  position: relative;
  z-index: 2;

  // .header--inner
  &--inner {
    position: absolute;
    top: 25px;
    left: 30px;
    display: flex;

    @include max-mq {
      top: 10px;
      left: 10px;
      display: block;
    }
  }

  // .header--logo
  &--logo {
    a {
      display: block;
    }

    @include max-mq {
      width: 70%;
    }
  }
}

// ---------------------------------------------
//  グローバルナビゲーション関連 gnav
// ---------------------------------------------

.nav-overlay__list {
  position: fixed;
  top: 30px;
  left: 50%;
  display: flex;
  flex-wrap: wrap;
  gap: 1.9791666666666665vw;
  justify-content: center;
  width: 46.875vw;
  background: rgba(#fff, 0.8);
  border-radius: 99999999px;
  transform: translateX(-50%);

  a {
    display: block;
    padding: 18px 0;
    font-size: min(14px, 0.7291666666666666vw);
    font-weight: bold;
  }

  @include max-mq {
    position: static;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: transparent;
    border-radius: 30px;
    transform: translateX(0%);

    a {
      display: block;
      font-size: var(--fz14);
      color: #fff;
    }
  }
}

// .gnav {
//   display: block;

//   @include max-mq {
//     position: fixed;
//     top: 0;
//     right: -110%;
//     z-index: 99;
//     width: 100%;
//     height: 100%;
//     transition: 0.5s;

//     &.is-open {
//       right: 0;
//     }

//     a {
//       display: block;
//       font-size: var(--fz14);
//       color: #fff;
//     }
//   }
// }

// ---------------------------------------------
//  ハンバーガーメニュー
// ---------------------------------------------


.hamburger-overlay {
  display: none;
}

.nav-overlay__item {
  position: relative;

  a {
    color: #24243f;
  }

  &:last-child {
    a {
      color: #004ea2;
    }
  }
}

@include max-mq {
  .hamburger-overlay {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1111111111;
    display: block;
    width: 48px;
    height: 48px;
    cursor: pointer;
    background: transparent;
    border: none;

    &.active {
      .hamburger-overlay__line {
        background: #fff;

        // 2本目は非表示
        &:nth-of-type(2) { opacity: 0; }

        // 1本目と3本目は共通で白
        &:nth-of-type(1),
        &:nth-of-type(3) { background: #fff; }

        // 個別の変形
        &:nth-of-type(1) { transform: translateY(9px) rotate(-45deg); }
        &:nth-of-type(3) { transform: translateY(-9px) rotate(45deg); }
      }
    }
  }

  .hamburger-overlay__line {
    position: absolute;
    left: 11px;
    width: 26px;
    height: 2px;
    background: #333;
    transition: all 0.6s;

    &:nth-of-type(1) {
      top: 14px;
    }

    &:nth-of-type(2) {
      top: 23px;
    }

    &:nth-of-type(3) {
      top: 32px;
    }
  }

  .nav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 900;
    width: 100%;
    height: 100dvh;
    overflow: scroll;

    // visibility: hidden;
    background-color: rgb(0 12 41 / 95%);
    opacity: 0;
    transition: opacity 0.6s, background-color 0.6s; // 修正

    &.active {
      visibility: visible;
      opacity: 1;

      .nav-overlay__item {
        pointer-events: auto; // 追加
        opacity: 1;
        transform: translateY(0);

        &:nth-child(1) {
          transition-delay: 0.1s;
        }

        &:nth-child(2) {
          transition-delay: 0.2s;
        }

        &:nth-child(3) {
          transition-delay: 0.3s;
        }

        &:nth-child(4) {
          transition-delay: 0.4s;
        }

        &:nth-child(5) {
          transition-delay: 0.5s;
        }

        &:nth-child(6) {
          transition-delay: 0.6s;
        }
      }
    }

    .nav-overlay__content {
      position: absolute;
      top: 150px;
      left: 50%;
      width: 100%;
      text-align: center;
      transform: translate(-50%, 0%);
    }

    .nav-overlay__item {
      pointer-events: none; // 追加
      opacity: 0;
      transition: opacity 0.6s, transform 0.6s; // 修正
      transform: translateY(20px);

      a {
        color: #fff;
      }
    }
  }
}


// ---------------------------------------------
//  ドロップダウンメニュー
// ---------------------------------------------

.dropdownmenu {
  position: absolute;
  display: none;
  width: 100%;

  @include max-mq {
    position: static;
    display: block;
  }
}



// ---------------------------------------------
//  フッター関連 footer
// ---------------------------------------------

.footer {
  small {
    display: block;
    padding: 15px 0;
    font-size: var(--fz11);
    color: #fff;
    text-align: center;
    background: linear-gradient(90deg, #72f1ff 0%, #72c9ff 33.65%, #2084f0 100%);
  }

  dt {
    margin-bottom: 10px;
    font-size: var(--fz14);
    color: $color-blue2;
  }

  dd {
    font-size: var(--fz12);
    line-height: 1.9;
  }

  .container {
    padding: 60px min(4vw, 25px) 80px;
  }

  // .footer--link
  &--link {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
  }

  // .footer--logo
  &--logo {
    display: block;
  }

  // .footer--btn
  &--btn {
    display: block;
    width: min(213px, 100%);
    padding: 15px 0;
    font-size: var(--fz14);
    color: #fff;
    text-align: center;
    background: linear-gradient(90deg, #72f1ff 0%, #72c9ff 33.65%, #2084f0 100%);
    border-radius: 5px;
  }

  // .footer--list
  &--list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;

    @include max-mq {
      gap: 15px;
      justify-content: center;

      dl {
        width: 45%;
      }
    }
  }
}
