@charset "UTF-8";
@use "variables" as *;

// ---------------------------------------------
//  base
// ---------------------------------------------

html {
  font-size: 62.5%;

  &.is-locked {
    overflow: hidden;
    overscroll-behavior: contain;
  }
}

body {
  position: relative;
  font-family: $font-sans;
  font-size: var(--fz16);
  font-weight: 400; // ※游ゴシックのときは500
  line-height: 1.6;
  color: $color-black;
  letter-spacing: 0.05em;
}

// font-sizeは下記の用に指定
// font-size: var(--fz14);

.wrap {
  // min-width: 1200px;
  margin: auto;

  @include max-mq {
    width: 100%;
    min-width: auto;
  }
}

.container {
  box-sizing: border-box;
  width: min(1050px, 100%); // デザインの幅 + padding
  padding: 0 min(4vw, 25px);
  margin: auto;
}

main {
  display: block;

  // for ipad portrait mode

  @media (min-width: 768px) and (max-width: 769px) and (orientation: portrait) {
    min-height: 95vh;
  }
}


// グーグルマップ
.googlemap {
  position: relative;

  &::before {
    display: block;
    padding-top: 20.7%;
    content: "";
  }

  iframe {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
  }

  // .googlemap--address
  &--address {
    padding-left: 25px;
    margin: 15px 0 0 30px;
    font-size: var(--fz15);
    color: #b7b7b7;
    border-left: 3px solid #b7b7b7;

    @include max-mq {
      padding-left: 15px;
      margin: 15px 0 0 15px;
    }
  }

  @include max-mq {
    &::before {
      padding-top: 450px;
    }
  }
}

// ---------------------------------------------
//  ヘッダー関連
// ---------------------------------------------

.header {
  position: relative;
  z-index: 2;

  // .header--logo
  &--logo {
    position: absolute;
    top: 30px;
    left: 30px;

    @include max-mq {
      top: 10px;
      left: 10px;
    }

    a {
      display: block;
    }

    @include max-mq {
      width: 70%;
    }
  }
}

// ---------------------------------------------
//  グローバルナビゲーション関連
// ---------------------------------------------

.nav-overlay__list {
  position: fixed;
  top: 30px;
  left: 50%;
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  justify-content: center;
  width: 100%;
  max-width: 900px;
  background: rgb(255 255 255 / 80%);
  border-radius: 1000px;
  transform: translateX(-50%);

  a {
    display: block;
    font-size: var(--fz14);
    font-weight: bold;
  }

  @media (width <= 1450px) {
    max-width: 800px;
  }

  @media (1025px <= width <= 1280px) {
    left: 24%;
    gap: 25px;
    max-width: 740px;
    transform: translateX(0%);
  }

  @include tb-mq {
    position: static;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 100%;
    background: transparent;
    border-radius: 30px;
    transform: translateX(0%);

    a {
      display: block;
      font-size: var(--fz14);
      color: #fff;
    }
  }
}

// ---------------------------------------------
//  ハンバーガーメニュー
// ---------------------------------------------

.hamburger-overlay {
  display: none;
}

.nav-overlay {
  visibility: hidden;
  opacity: 0;
}

.nav-overlay__item {
  position: relative;
  padding: 20px 0;

  &::before {
    position: absolute;
    top: 101%;
    left: 50%;
    width: 150px;
    height: 25px;
    pointer-events: auto;
    content: "";
    background: transparent;
    transform: translateX(-50%);
  }

  a {
    color: #24243f;
  }

  &:last-child {
    a {
      color: #004ea2;
    }
  }

  &:has(.dropdownmenu) {
    position: relative;
    padding: 20px 20px 20px 0;
    background: url(../img/common/nev_arrow.svg) no-repeat right center / 15px;
  }

  @include tb-mq {
    &:has(.dropdownmenu) {
      padding: 0;
      background: none;
    }
  }
}

@media (min-width: 1023px) {
  .nav-overlay {
    position: static;
    top: auto;
    left: auto;
    z-index: auto;
    display: block;
    width: auto;
    height: auto;
    overflow: visible;
    pointer-events: auto;
    visibility: visible;
    background: transparent;
    opacity: 1;
    transition: none;
  }
}

@include tb-mq {
  .hamburger-overlay {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1111111111;
    display: block;
    width: 48px;
    height: 48px;
    cursor: pointer;
    background: transparent;
    border: none;

    &.active {
      .hamburger-overlay__line {
        background: #fff;

        // 2本目は非表示
        &:nth-of-type(2) { opacity: 0; }

        // 1本目と3本目は共通で白
        &:nth-of-type(1),
        &:nth-of-type(3) { background: #fff; }

        // 個別の変形
        &:nth-of-type(1) { transform: translateY(9px) rotate(-45deg); }
        &:nth-of-type(3) { transform: translateY(-9px) rotate(45deg); }
      }
    }
  }

  .hamburger-overlay__line {
    position: absolute;
    left: 11px;
    width: 26px;
    height: 2px;
    background: #333;
    transition: all 0.6s;

    &:nth-of-type(1) {
      top: 14px;
    }

    &:nth-of-type(2) {
      top: 23px;
    }

    &:nth-of-type(3) {
      top: 32px;
    }
  }

  .nav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 900;
    width: 100%;
    height: 100dvh;
    overflow: scroll;
    background-color: rgb(0 12 41 / 95%);
    opacity: 0;
    transition: opacity 0.6s, background-color 0.6s; // 修正

    &.active {
      visibility: visible;
      opacity: 1;

      .nav-overlay__item {
        pointer-events: auto; // 追加
        opacity: 1;
        transform: translateY(0);

        &:nth-child(1) {
          transition-delay: 0.1s;
        }

        &:nth-child(2) {
          transition-delay: 0.2s;
        }

        &:nth-child(3) {
          transition-delay: 0.3s;
        }

        &:nth-child(4) {
          transition-delay: 0.4s;
        }

        &:nth-child(5) {
          transition-delay: 0.5s;
        }

        &:nth-child(6) {
          transition-delay: 0.6s;
        }
      }
    }

    .nav-overlay__content {
      position: absolute;
      top: 150px;
      left: 50%;
      width: 100%;
      text-align: center;
      transform: translate(-50%, 0%);
    }

    .nav-overlay__item {
      pointer-events: none; // 追加
      opacity: 0;
      transition: opacity 0.6s, transform 0.6s; // 修正
      transform: translateY(20px);

      a {
        color: #fff;
      }
    }
  }
}

// ---------------------------------------------
//  ドロップダウンメニュー
// ---------------------------------------------

.dropdownmenu {
  position: absolute;
  top: 75px;
  left: 50%;
  z-index: 10;
  display: none;
  width: 180px;
  padding: 20px;
  font-size: var(--fz14);
  font-weight: bold;
  text-align: left;
  background: rgb(255 255 255 / 80%);
  border-radius: 10px;
  transform: translateX(-50%);

  li {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  @include tb-mq {
    position: static;
    display: block !important;
    width: auto;
    padding: 0;
    text-align: center;
    background: none;
    border-radius: 0;
    transform: translateX(0%);
  }
}


// ---------------------------------------------
//  アコーディオンメニュー
// ---------------------------------------------

.accordion_menu {
  summary {
    position: relative;
    display: block;
    padding: 20px;
    text-align: center;
    background: blue;

    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }

  // .accordion_menu--btn
  &--btn {
    position: absolute;
    top: 37%;
    right: 0;
    width: 18px;
    height: 18px;
    transition-duration: 0.2s;
    transform-origin: center center;

    &::before,
    &::after {
      position: absolute;
      top: 7px;
      left: 0;
      width: 18px;
      height: 4px;
      content: "";
      background-color: #fff;
      border-radius: 10px;
      transition: all 0.5s;
      transform-origin: center center;
    }

    &::before {
      top: 0;
      left: 7px;
      width: 4px;
      height: 18px;
    }

    .is-active & {
      &::before {
        transform: rotate(90deg);
      }
    }
  }

  // .accordion_menu--content
  &--content {
    padding: 20px;

    .close-btn {
      display: block;
      padding: 8px 32px;
      margin: 0 auto;
      color: #fff;
      text-align: center;
      cursor: pointer;
      background: #00a5a0;
      border: none;
      border-radius: 5px;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}

summary::-webkit-details-marker {
  display: none;
}

// ---------------------------------------------
//  モーダルウィンドウ
// ---------------------------------------------


.modalwindow {
  ul {
    display: flex;
  }

  li {
    transition: opacity 0.6s;

    &:hover {
      opacity: 0.6;
    }
  }
}

/* モーダルのトリガー */
.js-modal_trigger {
  cursor: pointer;
}

/* モーダルの全体 */
.js-modal_contents {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
  width: 100%;
  height: 100%;
}

/* モーダルの裏地 */
.js-modal_layer {
  height: 100%;
  cursor: pointer;
  background: rgb(50 50 50 / 85%);
}

/* モーダルのコンテンツ部分 */
.js-modal_container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: min(calc(100% - 40px), 1000px);
  height: calc(100% - 40px);
  background: #fff;
  transform: translate(-50%, -50%);
}

/* モーダルを閉じるボタン */
.js-modal_close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 44px;
  height: 44px;
  cursor: pointer;
  background: rgb(50 50 50 / 100%);
  transition: opacity 0.6s;

  &:hover {
    opacity: 0.6;
  }

  &::before,
  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 1px;
    content: "";
    background: #fff;
  }

  &::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

/* HTMLとbodyタグに動的に付与 */
.is-modal-open {
  overflow: hidden;
}

.modal__inner {
  position: relative;
  height: 100%;
  overflow-y: scroll;
}





// ---------------------------------------------
//  フッター関連
// ---------------------------------------------

.footer {
  small {
    display: block;
    padding: 15px 0;
    font-size: var(--fz11);
    color: #fff;
    text-align: center;
    background: linear-gradient(90deg, #72f1ff 0%, #72c9ff 33.65%, #2084f0 100%);
  }

  dt {
    margin-bottom: 10px;
    font-size: var(--fz14);
    color: $color-blue2;
  }

  dd {
    font-size: var(--fz12);
    line-height: 1.9;
  }

  .container {
    padding: 60px min(4vw, 25px) 80px;
  }

  // .footer--link
  &--link {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
  }

  // .footer--logo
  &--logo {
    display: block;
  }

  // .footer--btn
  &--btn {
    display: block;
    width: min(213px, 100%);
    padding: 15px 0;
    font-size: var(--fz14);
    color: #fff;
    text-align: center;
    background: linear-gradient(90deg, #72f1ff 0%, #72c9ff 33.65%, #2084f0 100%);
    border-radius: 5px;
  }

  // .footer--list
  &--list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;

    @include max-mq {
      gap: 15px;
      justify-content: center;

      dl {
        width: 45%;
      }
    }
  }
}





/* アコーディオンメニュー */
.accordion {
  box-sizing: border-box;
  padding: 0 30px;
  border-bottom: 1px solid #e8e8e8;

  // .accordion--inner
  &--inner {
    position: relative;
    padding: 20px 0;
    cursor: pointer;
  }

  // .accordion--title
  &--title {
    font-size: var(--fz20);
    font-weight: 500;
  }

  // .accordion--icon
  &--icon {
    position: absolute;
    top: 50%;
    right: 15px;
    width: 16px;
    height: 16px;
    transform: translateY(-50%);

    &::before,
    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      content: "";
      background-color: #333;
      transition: transform 0.3s;
    }

    &::before {
      width: 2px;
      height: 16px;
      margin-left: -1px;
      transform: translateY(-50%);
    }

    &::after {
      width: 16px;
      height: 2px;
      margin-top: -1px;
      transform: translateX(-50%);
    }
  }

  // .accordion--content
  &--content {
    height: 0;
    overflow: hidden;
    transition: height 0.3s;

    p {
      padding-bottom: 20px;
    }
  }

  // .accordion--wrap
  &--wrap {
    width: min(660px, 100%);

    @include tb-mq {
      margin-bottom: 60px;
    }
  }

  @media (width <= 1900px) {
    width: 37vw;
  }

  @include tb-mq {
    width: auto;
    padding: 0;
  }
}

/* 開いているときは縦線を非表示に */
.is-active .accordion--icon::before {
  transform: translateY(-50%) rotate(90deg);
}
