@charset "UTF-8";
@use "../variables" as *;

// ---------------------------------------------
//  トップ専用
// ---------------------------------------------

.top_mv {
  position: relative;

  p {
    position: absolute;
    bottom: 0.8854166666666666vw;
    left: 3.4895833333333335vw;
    font-size: 5vw;
    font-weight: 600;
    line-height: 1.5;
    color: #fff;
  }

  img {
    width: 100%;
  }

  // .top_mv--scroll
  &--scroll {
    position: absolute;
    right: 2.2395833333333335vw;
    bottom: 6.614583333333333vw;
    font-family: $font-zen;
    font-size: var(--fz16);
    font-weight: 600;
    color: #ffff;
    writing-mode: vertical-rl;

    /* 線のアニメーション部分 */
    &::before {
      position: absolute;
      bottom: -90px;
      left: 7px;
      width: 1px;
      height: 3.4895833333333335vw;
      margin: auto;
      content: "";
      background: #fff;
      animation: topscroll 2s infinite;
    }

    @include max-mq {
      right: 20px;
      bottom: 60px;

      &::before {
        bottom: -50px;
        height: 40px;
      }
    }
  }
}

/* 線のアニメーション */
@keyframes topscroll {
  0% {
    transform: scale(1, 0);
    transform-origin: 0 0;
  }

  50% {
    transform: scale(1, 1);
    transform-origin: 0 0;
  }

  51% {
    transform: scale(1, 1);
    transform-origin: 0 100%;
  }

  100% {
    transform: scale(1, 0);
    transform-origin: 0 100%;
  }
}

/* パーティクル */
.particle_lefttop {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 200px;
  height: 200px;

  /* パーティクルアニメーション描画用 */
  canvas {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  }

  @include max-mq {
    width: 100px;
    height: 100px;
  }
}

.particle_righttop {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 200px;
  height: 200px;

  /* パーティクルアニメーション描画用 */
  canvas {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  }

  @include max-mq {
    width: 100px;
    height: 100px;
  }
}

.particle_rightbottom {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
  width: 200px;
  height: 200px;

  /* パーティクルアニメーション描画用 */
  canvas {
    position: absolute;
    top: 50px;
    right: 0;
    z-index: -1;
  }

  @include max-mq {
    width: 100px;
    height: 100px;
  }
}




.top_lead {
  margin-block: 65px 235px;

  p {
    margin-bottom: 40px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.4em;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
    align-items: center;
    justify-content: center;
  }

  li {
    a {
      position: relative;
      box-sizing: border-box;
      display: block;
      width: 269px;
      padding: 22px 0 24px 90px;
      font-size: var(--fz13);
      font-weight: 500;
      border: 1px solid #2084f0;
      border-radius: 14px;
      box-shadow: 0 0 6.6px #2084f0;
    }

    &:nth-of-type(1) {
      a {
        background: url(../img/top/icon_line.svg) no-repeat left 25px center / 40px, #fff;
      }
    }

    &:nth-of-type(2) {
      a {
        background: url(../img/top/icon_tel.svg) no-repeat left 25px center / 55px, #fff;
      }
    }

    &:nth-of-type(3) {
      a {
        background: url(../img/top/icon_mail.svg) no-repeat left 25px center / 35px, #fff;
      }
    }
  }

  .ttl_sec {
    margin-block: 0 13px;
    text-align: center;
  }

  // .top_lead--inner
  &--inner {
    box-sizing: border-box;
    width: min(950px, 100%); // デザインの幅 + padding
    padding: 0 min(4vw, 25px);
    margin: auto;
  }

  @include max-mq {
    margin-block: 60px 100px;

    ul {
      gap: 25px;
    }
  }
}

.top_latest {
  position: relative;
  padding: 0 0 80px;

  .ttl_sec {
    text-align: center;

    +p {
      margin-bottom: 60px;
      font-family: $font-zen;
      font-size: var(--fz40);
      font-weight: bold;
      color: $color-blue2;
      text-align: center;
    }
  }

  &::after {
    position: absolute;
    top: 0;
    right: 25px;
    display: inline-block;
    width: 105px;
    height: 105px;
    content: "";
    background: url(../img/top/circle_blue.png) no-repeat center/contain;
  }

  @include max-mq {
    padding: 0;

    &::after {
      right: 20px;
      z-index: -1;
      width: 75px;
      height: 75px;
    }
  }
}

.top_empower {
  position: relative;

  dl,
  a {
    color: #fff;
  }

  dl {
    position: relative;
    left: -3.5vw;
  }

  dt {
    margin-bottom: 35px;
    font-size: 1.67vw;
    font-weight: bold;
  }

  p {
    font-size: 0.83vw;
    line-height: 2;
  }

  a {
    position: relative;
    top: -15px;
    left: 10%;
    box-sizing: border-box;
    display: block;
    width: fit-content;
    padding-right: 15%;
    margin: auto;
    font-size: 0.78vw;
    background: url(../img/top/icon_arrow.svg) no-repeat center center / contain;
  }

  .ttl_sec {
    position: relative;
    margin-bottom: 3vw;
    font-size: 15.63vw;
    line-height: 1;
    color: rgba(#e4f5ff, 0.6);
    letter-spacing: 0;
  }

  //.top_empower--inner
  &--inner {
    position: absolute;
    top: 12%;
    right: 35px;

    @include max-mq {
      top: 21%;
      right: 10px;
      width: 75%;
    }
  }

  //.top_empower--bg
  &--bg {
    width: 100%;

    @include max-mq {
      object-fit: cover;
      height: 170vw;
      aspect-ratio: 1 / 1;
      object-position: 25% center;
    }

    @media (width <= 600px) {
      height: 330vw;
    }
  }

  @include max-mq {
    .ttl_sec {
      margin-bottom: 25px;
      color: rgb(228 245 255 / 80%);
    }

    p {
      font-size: 12px;
      line-height: 1.6;
    }

    dl {
      left: 0;
    }

    dt {
      margin-bottom: 25px;
      font-size: 14px;
    }

    a {
      top: 0;
      left: 0;
      padding-right: 15%;
      margin: 20px 0 0 auto;
      font-size: 14px;
      background: url(../img/top/icon_arrow.svg) no-repeat center right / 7px;
    }
  }
}

.top_course {
  margin-top: -7vw;

  .ttl_sec {
    padding-right: 200px;
    margin-bottom: 40px;
  }

  ol {
    counter-reset: listnum;
  }

  li {
    display: flex;
    flex-wrap: wrap;
    gap: 134px;
    justify-content: center;
    counter-increment: listnum;

    >div {
      width: 320px;
    }

    h3 {
      position: relative;
      margin-bottom: 15px;
      font-size: var(--fz20);
      font-weight: 500;
      color: $color-blue2;

      &::before {
        margin-right: 20px;
        font-weight: bold;
        color: $color-blue2;
        content: counter(listnum, decimal-leading-zero);
      }
    }

    &:not(:last-child) {
      margin-bottom: 115px;
    }
  }

  p {
    min-height: 125px;
    margin-bottom: 60px;
    font-size: var(--fz15);
    line-height: 1.6666;
  }

  a {
    display: block;
    width: fit-content;
    padding-right: 45px;
    margin: 0 0 0 auto;
    font-size: 15px;
    color: $color-blue2;
    background: url(../img/top/icon_arrow_blue.svg) no-repeat right center / 10px;
  }

  // .top_course--inner
  &--inner {
    padding: 65px 0 0;
    background: url(../img/top/bg_course.png) no-repeat top center / 1801px 898px;
  }

  @include max-mq {
    margin-top: 0;

    .ttl_sec {
      padding-right: 0;
    }

    p {
      min-height: auto;
      margin-bottom: 40px;
    }

    li {
      gap: 50px;

      &:not(:last-child) {
        margin-bottom: 80px;
      }
    }

    a {
      min-height: auto;
      margin-bottom: 10px;
    }
  }
}

.top_method {
  padding: 200px 0 150px;

  p {
    margin-bottom: 15px;
    font-size: var(--fz20);
    font-weight: 500;
    color: $color-blue2;
  }

  a {
    display: block;
    width: fit-content;
    padding-right: 45px;
    margin: 0 0 0 auto;
    font-size: 15px;
    color: $color-blue2;
    background: url(../img/top/icon_arrow_blue.svg) no-repeat right center / 10px;
  }

  .ttl_sec {
    position: relative;

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      display: inline-block;
      width: 82px;
      height: 93px;
      content: "";
      background: url(../img/top/circle_blue_02.png) no-repeat right center/contain;
    }
  }

  // .top_method--inner
  &--inner {
    box-sizing: border-box;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    gap: 70px;
    align-items: center;
    justify-content: center;
    width: min(1350px, 100%);
    padding: 0 min(4vw, 25px);
    margin: auto;

    @include max-mq {
      gap: 30px;
    }
  }

  // .top_method--addition
  &--addition {
    display: block;
    font-size: var(--fz15);

    @include max-mq {
      margin-bottom: 15px;
    }
  }

  @include max-mq {
    padding: 100px 0;

    .ttl_sec {
      display: flex;
      align-items: baseline;
      width: 100%;

      span {
        display: block;
        margin: 0 0 0 -25px;
        font-size: var(--fz16);
      }
    }
  }
}

.top_news {
  padding: 50px 0 120px;

  .ttl_sec {
    position: relative;
    width: min(850px, 100%);
    margin: 0 auto 30px;

    &::before {
      position: absolute;
      top: -15%;
      left: -20%;
      z-index: -1;
      display: inline-block;
      width: 221px;
      height: 155px;
      content: "";
      background: url(../img/top/img_dot.png) no-repeat left top / contain;
    }
  }

  li {
    display: flex;
    flex-wrap: wrap;
    gap: 55px;
    align-items: center;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 100px;
    }
  }

  dl {
    color: $color-blue2;
  }

  dt {
    font-size: var(--fz18);
    font-weight: 500;
  }

  dd {
    &:last-child {
      font-weight: 500;
    }
  }

  span {
    font-size: var(--fz20);
    font-weight: bold;
  }

  // .top_news--box
  &--box {
    position: relative;
    box-sizing: border-box;
    width: min(1750px, 100%);
    padding: 0 min(4vw, 25px);
    margin: auto;
    background: url(../img/top/circle_blue_03.png) no-repeat left bottom 25% / 129px;

    &::after {
      position: absolute;
      right: 0;
      bottom: -60%;
      z-index: -1;
      display: inline-block;
      width: 373px;
      height: 295px;
      content: "";
      background: url(../img/top/circle_blue_04.png) no-repeat center center / 100%;
    }

    @include max-mq {
      &::after {
        right: 0;
        bottom: -17%;
        width: 110px;
        height: 80px;
      }
    }
  }

  // .top_news--inner
  &--inner {
    box-sizing: border-box;
    width: min(920px, 100%);
    padding: 0 min(4vw, 25px);
    margin: auto;
  }

  // .top_news--link
  &--link {
    display: block;
    width: fit-content;
    padding-right: 45px;
    margin: 0 auto;
    font-size: 15px;
    color: $color-blue2;
    background: url(../img/top/icon_arrow_blue.svg) no-repeat right center / 10px;
  }

  @include max-mq {
    .ttl_sec {
      width: 75%;

      span {
        left: -25px;
      }

      &::before {
        top: 17%;
        left: -9%;
        width: 70px;
        height: 75px;
      }
    }

    li {
      flex-direction: column;
      gap: 20px;
      align-items: center;
      margin-bottom: 50px;

      &:last-child {
        margin-bottom: 60px;
      }
    }
  }
}

.tpp_ad {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin-bottom: 125px;

  @include max-mq {
    margin-bottom: 80px;
  }
}



/* 見やすくするためのcss 不要のためコピーしなくてOK */
.swiper {
  max-width: 300px;
  height: 300px;
  margin-inline: auto;
}

.swiper-slide {
  line-height: 300px;
  text-align: center;
  background: red;
}

.swiper-slide:nth-child(2) {
  color: #fff;
  background: blue;
}

.swiper-slide:nth-child(3) {
  color: #fff;
  background: green;
}
