@charset "UTF-8";
@use "../variables" as *;

// ---------------------------------------------
//  トップ専用
// ---------------------------------------------

.top_mv {
  position: relative;

  p {
    position: absolute;
    bottom: 0.8854166666666666vw;
    left: 3.4895833333333335vw;
    font-size: 5vw;
    font-weight: 600;
    line-height: 1.5;
    color: #fff;
  }
}


.top_mv--scroll {
  position: absolute;
  right: 2.2395833333333335vw;
  bottom: 6.614583333333333vw;
  font-family: $font-zen;
  font-size: var(--fz16);
  color: #ffff;
  writing-mode: vertical-rl;

  /* 線のアニメーション部分 */
  &::before {
    position: absolute;
    right: 0;
    bottom: -90px;
    left: 0;
    width: 1px;
    height: 3.4895833333333335vw;
    margin: auto;
    content: "";
    background: #fff;
    animation: scroll 2s infinite;
  }
}

/* 線のアニメーション */
@keyframes scroll {
  0% {
    transform: scale(1, 0);
    transform-origin: 0 0;
  }

  50% {
    transform: scale(1, 1);
    transform-origin: 0 0;
  }

  51% {
    transform: scale(1, 1);
    transform-origin: 0 100%;
  }

  100% {
    transform: scale(1, 0);
    transform-origin: 0 100%;
  }
}



/* コンテンツを囲むラッパー要素 */
.outline1 {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 200px;
  height: 200px;
}

.outline2 {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 200px;
  height: 200px;
}

.outline3 {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
  width: 200px;
  height: 200px;
}

/* アニメーション描画用 */
canvas {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}



/* 見やすくするためのcss 不要のためコピーしなくてOK */
.swiper {
  max-width: 300px;
  height: 300px;
  margin-inline: auto;
}

.swiper-slide {
  line-height: 300px;
  text-align: center;
  background: red;
}

.swiper-slide:nth-child(2) {
  color: #fff;
  background: blue;
}

.swiper-slide:nth-child(3) {
  color: #fff;
  background: green;
}
